* {
	list-style: none; margin: 0px; padding: 0px;
}
.carousel-banner .img img {
	width: 100%; height: 100%;
}
.carousel-banner {
	margin: 20px auto; border: 5px solid rgb(0, 0, 0); border-image: none; width: 870px; height: 255px; overflow: hidden; position: relative;
}
.carousel-banner .img {
	left: 0px; top: 0px; width: 5000px; position: absolute;
}
.carousel-banner .img li {
	float: left;
}
.carousel-banner .num {
	left: 0px; width: 100%; text-align: center; bottom: 10px; font-size: 0px; position: absolute;
}
.carousel-banner .num li {
	background: rgb(136, 136, 136); margin: 0px 3px; border-radius: 50%; width: 10px; height: 10px; display: inline-block; cursor: pointer;
}
.carousel-banner .num li.on {
	background: rgb(255, 102, 0);
}
.carousel-banner .btn {
	background: rgba(0, 0, 0, 0.5); top: 50%; width: 30px; height: 50px; text-align: center; color: rgb(255, 255, 255); line-height: 50px; font-family: "ו"; font-size: 40px; margin-top: -25px; display: none; position: absolute; cursor: pointer;
}
.carousel-banner:hover .btn {
	display: block;
}
.carousel-banner .btn_l {
	left: 0px;
}
.carousel-banner .btn_r {
	right: 0px;
}
